# LaTeX stuffs:
*.aux
*.ist
*.log
*.out
*.pdf
*.glg
*.glo
*.gls
*.glsdefs
*.gz
*.thm
*.toc
*.xdy
*.listing
.idea
_minted*
*converted-to*

# Other craps:
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
*.*~
